Nit

A Single-Rate, Three-Color Marker {{?RFC2697}} uses CIR, CBS, and EBS.
Nit> The above line needs to be updated to include EIR.

Got it, Thanks. However, I don't see EIR defined in RFC2697 but then why is it included in the CDDL ?

E:
: When set to "1", this flag indicates the presence of Excess Information Rate (EIR).
: When set to "0", this flag indicates that EIR is not present.

rate-limit =  {
  cir: uint,          ; Mbps
  cbs: uint .gt 0,    ; bytes
  ? eir: uint,        ; Mbps ==> This needs to be removed. 
  ? ebs: uint .gt 0,  ; bytes
  ? pir: uint,        ; Mbps
  ? pbs: uint .gt 0,  ; bytes
}

That's defined in RFC4115, for example:

>    The operation of the marker is described by two rate values.  The
>    committed information rate (CIR) and the excess information rate
>    (EIR).  CIR and EIR define the token generation rate of a token
>    bucket with size that is equal to committed burst size (CBS) and
>    excess burst size (EBS), respectively.

We need to cover the various combination out there.

we may need to clarify that EIR is defined in RFC 4115. 

We already have: 

> The document leverages existing technologies for configuring policies in provider networks. [Appendix A](https://boucadair.github.io/draft-xxx-ac-rate-policy-discovery/draft-brw-scone-throughput-advice-blob.html#sec-overview) provides a brief overview of how inbound policies are enforced in ingress network nodes. **The reader may refer to [[RFC2697](https://boucadair.github.io/draft-xxx-ac-rate-policy-discovery/draft-brw-scone-throughput-advice-blob.html#RFC2697)], [[RFC2698](https://boucadair.github.io/draft-xxx-ac-rate-policy-discovery/draft-brw-scone-throughput-advice-blob.html#RFC2698)], and [[RFC4115](https://boucadair.github.io/draft-xxx-ac-rate-policy-discovery/draft-brw-scone-throughput-advice-blob.html#RFC4115)]** for examples of how various combinations of Committed Information Rate (EIR), Committed Burst Size (CBS), Excess Information Rate (EIR), Excess Burst Size (EBS), Peak Information Rate (PIR), and Peak Burst Size (PBS) are used for policing.

